
@font-face {
    font-family: CircularStd-Black;
    src: url(assets/CircularStd-Black.otf) format("opentype");
}
@font-face {
    font-family: CircularStd-Book;
    src: url(assets/CircularStd-Book.otf) format("opentype");
}

*{
    font-family: CircularStd-Book;
}